.img{
    background-image: url('https://online.hbs.edu/Style%20Library/api/resize.aspx?imgpath=/PublishingImages/professional-calculating-time-value-of-money.jpg&w=1200&h=630');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
}